.tile {
  position: relative;
  width: 100%;
  height: 100%;

  &:not(&--locked) .tile__tick {
    visibility: hidden;
  }
}

.tile__tick {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  div {
    $size: 5px;
    background: black;
    width: $size;
    height: $size;
  }
}
