.tile {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 
    transform 300ms $standard-easing,
    top 300ms $decelerate-easing,
    left 300ms $decelerate-easing;
  transform: scale(1);
  cursor: move;
  cursor: grab;
  will-change: top, left, transform;

  &--locked {
    cursor: auto;
  }

  &--lifted {
    z-index: 1;
    transform: scale(1.25);
    transition: 150ms $standard-easing transform;
    cursor: grabbing;
  }

  &--hidden {
    transform: scale(0);
  }
  
  // &:not(&--lifted):hover {
  //   z-index: 1;
  //   transform: scale(1.125);
  // }

  &:not(&--locked) .tile__tick {
    visibility: hidden;
  }
}

.tile__tick {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  height: 100%;
  width: 100%;

  div {
    $size: 5px;
    background: black;
    width: $size;
    height: $size;
  }
}
