@import './styles/variables.scss';

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: $black-color;
}

.ui-view {
  width: 100%;
  height: 100%;
}

/* start-injector */
/* end-injector */
